.sidebar {
    color: white;
    background: linear-gradient(
        175.93deg, 
        #5F00D8 -10.23%, 
        #B200F1 117.03%);
  min-width: 150px;
    width: 350.99px;
    height: 100vh;
    overflow:hidden ;
}

