.sidebar__logo {
    
    margin-left: 30px;
     margin-top: 43.13px;
     margin-bottom:25px;
     
 }
 


hr {
    width: 181.83px;
    
    margin-left: 30.14px;
    margin-top: 20px;
    margin-bottom: 40px;
    
    opacity: 0.2;
    border: 1px solid #FFFFFF;
}

